/*===== VARIABLES CSS =====*/
:root {
  --font-semi: 600;
  /*===== Colors =====*/
  --primary-color: #118ac5;
  --black-color: #121212;
  --darker-color: #424242;
  --white-color: #ffffff;
  /*===== Text =====*/
  --body-font: "Poppins", sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --smaller-font-size: 0.75rem;
  --header-y: 50px;
}

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--body-font) !important;
  scroll-behavior: smooth !important;
  text-decoration: none;
}

::-webkit-scrollbar-track {
  width: 10px;
  background-color: black;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font) !important;
  font-size: var(--normal-font-size);
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  line-height: 2;
  font-size: 15px;
  color: var(--tw-darker);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
.before-img,
.after-img {
  width: 100% !important;
  user-select: none !important;
}

/* START AREAS SECTION */
#areas .areas-items .area {
  padding: 0 !important;
  gap: 5px !important;
  margin-bottom: 5px !important;
}

#areas .areas-items .area .area-icon {
  width: 70px !important;
  height: 70px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.05);
}
#areas .areas-items .area .area-icon img {
  display: block;
  width: 30px;
}
#areas .areas-items .area .area-content b {
  font-size: 20px !important;
  text-transform: capitalize !important;
}
#areas .imgs-wrapper {
  position: sticky !important;
  top: 92px !important;
}
#areas .areas-items .imgs-wrapper img {
  border-radius: 10px !important;

  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  height: 300px;
  object-fit: cover !important;
  width: 100% !important;
  margin-bottom: 15px !important;
}
/* END AREAS SECTION */
